/* Основні стилі для дашборду */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

/* Стилі для статистики */
.statistics {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.stat-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.stat-item p {
    font-size: 16px;
    color: #777;
}

/* Стилі для дій (кнопок) */
.actions {
    margin-top: 40px;
    padding: 20px;
}

.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

h3 {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Стилі для форми створення замовлення */

.order-form div {
    margin-bottom: 20px;
}

.order-form label {
    display: block;
    margin-bottom: 10px;
}

.order-form select,
.order-form input,
.order-form button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.order-form button[type="button"] {
    width: auto;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.order-form button[type="button"]:hover {
    background-color: #0056b3;
}

.order-form input[type="submit"] {
    width: auto;
    padding: 10px 20px;
}
